$body_bg_color: #000000;
//ico-style
$color_ico: #000000;
$ico_fon: #9d9b9b;
$hover_ico_fon: #f0c11c;
$section_title_color_font: #9d9b9b;
$color__section_text_title: rgb(212, 164, 113);
$color__section_text_content: #e3a01d;
$md_section_content_title_text_color: #d6a71c;
$section-content__title__font: 'Amaranth';
$section-title__font: 'Amaranth';
