.page-header__title {
  margin: 0 auto;
  max-width: 354px;
  text-align: center;
  font-size: 32px;
  font-family: 'Open Sans';
  color: $color__section_text_title;
  line-height: 1.852;

  filter: contrast(10);
}
@media (min-width: 768px) {
  .page-header__title {
    position: absolute;
    transform: translateX(-50%);
    top: 600px;
    left: 50%;

    z-index: 999;
  }
}

@keyframes anim {
  0% {
    opacity: 0;
    filter: blur(6px);
  }
  10% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    filter: blur(1px);
  }
}
.first_text {
  animation: anim 10s infinite alternate-reverse;
}
.second_text {
  animation: anim 10s infinite alternate;
}
