.page-footer {
  padding-top: 250px;
  padding-bottom: 65px;
}
@media (max-width: 767px) {
  .page-footer {
    padding-top: 350px;
    padding-bottom: 25px;
  }
}
.footer-nav {
  justify-content: center;
}
