.section-title {
  margin: 0 auto;
}
.section-title__text {
  text-align: center;
  font-size: 33.21px;
  font-family: 'Ultra';
  color: rgb(246, 204, 153);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 700;
}
.section-title__image {
  margin: 0 auto;
}
