.site-nav {
  margin: 0 auto 45px;
}
.site-nav__list {
  display: flex;
}

.site-nav__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: $ico_fon;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: all linear 0.3s;
}
.site-nav__ico {
  width: 18px;
  height: 15px;
  fill: $color_ico;
  align-self: center;
}

.site-nav__item {
  &:hover .site-nav__link,
  &:focus .site-nav__link {
    background-color: $hover_ico_fon;
  }
  &:hover .site-nav__ico,
  &:focus .site-nav__ico {
    fill: #6f0b0b;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.site-nav {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
