.site-logo {
  margin: 0 auto 60px;
}
@media (max-width: 767px) {
  .site-logo {
    margin: 0 auto 40px;
  }
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
  .site-logo-wrapper {
    margin: 0 auto;
    max-width: 375px;
  }
}

.site-logo-wrapper {
  position: absolute;
  transform: translateX(-50%);
  top: 165px;
  left: 50%;
  z-index: 999;
}
